body {
  background-color: #dadfea;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: white;
  overflow: hidden;
  overflow-x: hidden; }

.page-wrapper {
  margin-top: 25px;
  background-color: #FFFFFF;
  width: 90%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  color: black;
  font-size: 1.3em; }

.fa-trash {
  margin: 0;
  transition: 0.2s; }

.fa-trash:hover {
  color: red; }

.fa-pencil-alt {
  margin-left: 5px;
  transition: 0.2s;
  color: #00aaf1; }

.fa-trash-alt {
  transition: 0.2s;
  color: #FF443A; }

.fa-circle {
  transition: 0.2s;
  border-radius: 100px; }

.fa-circle:hover, .fa-check-circle:hover {
  background-color: #31D158;
  overflow: hidden;
  border-radius: 100px; }

i {
  cursor: pointer; }

p {
  margin: 0 0 0 10px;
  font-size: 0.7em; }

p, i {
  margin-bottom: 10px; }

li:first-child {
  margin-top: 20px; }

li {
  display: flex;
  justify-content: flex-start;
  width: 200px;
  position: relative; }

li > .right-side {
  position: absolute;
  right: 0;
  top: 2px; }

.input-wrapper {
  position: sticky;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 26px; }

.header {
  padding-left: 25px;
  padding-bottom: 18px;
  width: calc(90% - 25px);
  background: #FDC830;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F37335, #FDC830);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F37335, #FDC830);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .header h2 {
    font-size: 2em;
    letter-spacing: 4px; }
  .header div {
    font-size: 1.05em; }

button, input {
  font-size: .75em;
  outline: none;
  border-radius: 5px; }

button {
  background-color: #F37335;
  color: white;
  padding: 3px 15px;
  cursor: pointer;
  border: none; }

@keyframes slidein {
  0% {
    width: 0%;
    color: white; }
  100% {
    width: 30%;
    color: black; } }

.sideBar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  border-right: 1px solid black;
  height: 100%;
  width: 30%;
  animation-name: slidein;
  animation-duration: .2s;
  display: none;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  color: black;
  overflow: scroll; }

#newList {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center; }
  #newList button {
    margin-right: 10px; }
  #newList input {
    margin: 0 !important; }

#listSelector {
  width: 100%; }
  #listSelector li {
    cursor: pointer; }

#newList {
  position: absolute;
  bottom: 0;
  left: 0; }

#header > i {
  display: none; }

#listSelector {
  width: 100%; }

.newListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  padding: 0 15px;
  margin: 20px 0; }

.lists {
  width: 100%;
  padding: 0 35px;
  padding-left: 45px; }

.middle-text {
  margin: 0 0 0 10px;
  padding-top: 1px; }

.editTasks {
  width: 100%;
  position: absolute;
  bottom: 32px;
  display: flex;
  align-items: center;
  height: 20px;
  display: none;
  justify-content: center; }

input {
  color: black;
  border: none;
  background-color: rgba(0, 122, 255, 0.1);
  padding-top: 3px;
  margin: 0 15px;
  padding-left: 7px; }

.container {
  width: 50%;
  display: flex;
  flex-direction: column; }

ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0;
  padding: 0; }

.item {
  width: 65%;
  margin: 0 auto;
  align-items: center; }
  .item p, .item i {
    font-size: 1.2em; }
  .item i {
    margin-top: 5px; }

.newListItem:nth-of-type(odd) {
  background-color: rgba(0, 122, 255, 0.1); }

#listSelector {
  display: flex;
  flex-direction: column; }

.newListItem {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px; }
