
        body {
            background-color: #dadfea;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: "Montserrat", sans-serif;
            color: white;
            font-size: 1.1em;
        }
        .fa-pencil-alt {
            margin-left: 5px;
            transition: 0.2s;
            cursor: pointer;
            color: #00aaf1;
        }
        .fa-pencil-alt:hover {
            color: #00aaf1;
        }

        p {
            margin: 0 0 0 10px;
            font-size: 0.7em;
        } 

        p,
        i {
            margin-bottom: 10px;
        }

        li:first-child {
            margin-top: 20px;
        }

        .fa-trash-alt {
            transition: 0.2s;
            cursor: pointer;
            color: #FF443A;
        }

        .fa-trash-alt:hover {
            color: #FF443A;
        }

        .fa-circle {
            cursor: pointer;
            transition: 0.2s;
            border-radius: 100px;
        }

        .fa-circle:hover,
        .fa-check-circle:hover {
            background-color: #31D158;
            overflow: hidden;
            border-radius: 100px;
        }

        .page-wrapper {
            background-color: #FFFFFF;
            width: 350px;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            overflow: scroll;
            position: relative;
            color: black;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            display: flex;
            justify-content: flex-start;
            width: 200px;
            position: relative;
        }

        li>.right-side {
            position: absolute;
            right: 0;
        }

        .input-wrapper {
            position: sticky;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            height: 26px;
        }

        .input-wrapper>input {
            border: none;
            width: 70%;
            padding-left: 10px;
        }

        button {
            width: 30%;
            border: none;
            background-color: #d3d3d3;
            outline: none;
        }

        h2 {
            margin: 0px;
            padding: 5px 0;
        }

        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 350px;
            background: linear-gradient(to right, rgba(61,126,170,1) 0%,rgba(255,228,122,1) 100%);
        }


        @keyframes slidein {
            0% {
                width: 0%;
                color: white
            }

            100% {
                width: 50%;
                color: black
            }
        }
        .sideBar {
            position: absolute;
            top: 0;
            left: 0;
            background-color: white;
            border-right: 1px solid black;
            height: 100%;
            width: 50%;
            animation-name: slidein;
            animation-duration: .3s;
            display: none;
            animation-timing-function: ease-in-out;
            -webkit-animation-timing-function: ease-in-out;
            color: black;
        }

        #newList {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        #listSelector>li {
            cursor: pointer;
        }

        #newList {
            display: flex;
            align-items: center;
        }

        #newList>input {
            width: 40%;
            height: 20px;
            padding: 0;
            border: none;
            padding-left: 7px;
        }

        #newList>button {
            width: 60%;
            height: 20px;
            padding: 0;
        }

        #header>i {
            display: none;
        }

        #header {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        #listSelector {
            width: 100%;
        }

        .newListItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 75%;
            padding: 0 15px;
            margin: 20px 0;
        }

        .lists {
            width: 100%;
        }

        .fa-trash {
            margin: 0;
            transition: 0.2s;
        }

        .fa-trash:hover {
            color: red;
        }
        #btn {
            background-color: #E0F5F5;
            color: #6DC18D;
        }
        #button {
            background-color: #E4EFFE;
            color: #76A9E7;
        }
        input {
            background-color: #f8f8f8;
            outline: none;
            color: lightgrey;
        }
        #createList {
            background-color: #E0F5F5;
            color: #94D2AF;
        }
        .middle-text {
            margin: 0 0 0 10px;
            padding-top: 1px;
        }
        .editTasks {
            width: 100%;
            position: absolute;
            bottom: 26px;
            display: flex;
            align-items: center;
            height: 20px;
            display: none;
        }
        .editTasks > button {
            width: 50%;
            padding: 0;
            height: 100%;
            padding: 3px;
        }
        .editTasks > input {
            width: 50%;
            height: 84%;
            padding: 0;
        }

